.quotes {
    display: flex;
    background-color: aqua;
    color: black;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    width: initial;
    padding: 2em;
}
.quote-box {
    border: solid black 1px;
    padding: .5em;
    border-radius: 10px;
    background-color: white;
}